@keyframes slide-right {
    from {
        width: 550px;
    }

    to {
        width: 90%;
    }
}

@keyframes slide-back {
    0% {
        max-width: 1000px;
        background-color: $color-black-light;
        translate: 20%;
    }

    50% {
        max-width: 550px;
        translate: 20%;
        background-color: $color-black-light;

    }

    100% {
        translate: 0;
        background-color: $color-grey-dark-3;
    }
}

@keyframes delay-height {
    0% {
        height: 50%;
        align-self: end;
    }

    50% {
        height: 50%;
    }

    100% {
        height: 100%;
        align-self: end;
    }
}


@keyframes slide-underline {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}