nav {
    display: flex;
    gap: 2rem;
    z-index: 6;

    @media (min-width: $page-break-2) {
        gap: 1.5rem;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-grey-light-3;

        div {
            border-radius: 3px;
            line-height: initial;
            transition: scale .2s;
            background: $color-grey-light-3;
            height: 95%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                scale: 1.1;
                color: $color-grey-light-2;
                background: linear-gradient(145deg,
                        var(--color-1) 0%,
                        var(--color-2) 100%);

                .inner {
                    scale: 1;
                }
            }

            .inner {
                background: $color-grey-dark-3;
                margin: 1px;
                padding: .5rem;
            }
        }

        img {
            width: 3.5rem;
            height: 3.5rem;
            filter: grayscale(100%) brightness(1.5);
            cursor: pointer;
            transition: scale .2s;

            &.github-logo {
                filter: brightness(.6)
            }

            &:hover {
                scale: 1.1;
                filter: grayscale(60%);
            }
        }
    }
}